@import '../../common/style/mixin.scss';

@include b(materialTools) {
  min-height: 320px;
  @include e(wrapper) {
    width: 100%;
  }

  @include e(title) {
    display: flex;
    height: 32px;
    background: white;
    align-items: center;
    padding-left: 10px;
  }

  @include e(wrapper-container) {
    display: flex;
    flex-wrap: wrap;
  }

  @include e(wrapper-container-title) {
    display: flex;
    padding: 8px 10px;
  }

  @include e(item) {
    flex: 1;
    min-width: 33%;
    max-width: 33%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    transition: transform 0.2s;
    background: white;

    &:hover {
      transform: scale(1.1);
    }
  }

  @include e(customLayout-item) {
    min-width: 33%;
    max-width: 33%;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.35);

    &:hover {
      transform: scale(1.1);
    }
  }

  @include e(item-icon) {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include e(item-type) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
