@import '../../common/style/mixin.scss';

body {
  @include b(footer) {
    @include e(wrapper) {
      background: #2c2c2c;
      color: rgba(255, 255, 255, 0.8);
      height: 22px;
      line-height: 22px;
    }
  }
}
